.inputContainer {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: 22px 0;
  padding: 13px 0;
  position: relative;
  width: 33.333333%;
  }
  
  .inputContainer span {
    left: 18px;
  }
  
  .inputContainer input {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(245 245 245/var(--tw-bg-opacity));
    border: transparent;
    border-bottom-width: 1px;
    color: rgb(120 116 134/var(--tw-text-opacity));
    display: none;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 55px;
    padding: 0;
    width: 50%;
    /* border-color: transparent; */
  }
  
  .inputContainer label {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-text-opacity: 1;
    color: rgb(120 116 134/var(--tw-text-opacity));
    display: block;
    font-size: 1.125rem;
    font-weight: 400;
    left: 55px;
    line-height: 1.75rem;
    pointer-events: none;
    position: absolute;
    top: 10px;
    -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
  }
  
  .inputContainer:focus-within label {
    --tw-translate-y: -1.5rem;
    --tw-translate-x: -0.75rem;
    --tw-scale-x: .75;
    --tw-scale-y: .75;
    --tw-text-opacity: 1;
    /* border: transparent; */
    display: none;
    color: rgb(13 6 45/var(--tw-text-opacity));
    -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .inputContainer .filled {
    --tw-translate-y: -1.5rem;
    --tw-translate-x: -0.75rem;
    --tw-scale-x: .75;
    --tw-scale-y: .75;
    --tw-text-opacity: 1;
    border: none;
    color: rgb(13 6 45/var(--tw-text-opacity));
    -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
    @media screen and (min-width: 768px){
      .inputContainer {
          --tw-bg-opacity: 1;
          background-color: rgb(245 245 245/var(--tw-bg-opacity));
      }
      .inputContainer span{
        position: absolute;
      }
      .inputContainer input{
        display: block;
      }
    }