.todosContainer {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245/var(--tw-bg-opacity));
  border-radius: 1rem;
  padding: 1.25rem;
  position: relative;
  }
  
  .droppableArea, .todosContainer {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  
  .todoHeader {
    --tw-text-opacity: 1;
    align-items: center;
    border-bottom-color: transparent;
    border-bottom-width: 3px;
    color: rgb(13 6 45/var(--tw-text-opacity));
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    gap: 0.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 22px;
  }
  
  .addTodoButton {
    position: absolute;
    right: 22px;
    top: 22px;
  }
  
  .notStarted {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(80 48 229/var(--tw-border-opacity));
    border-bottom-width: 3px;
  }
  
  .started {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(255 165 0/var(--tw-border-opacity));
    border-bottom-width: 3px;
  }
  
  .completed {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(139 196 138/var(--tw-border-opacity));
    border-bottom-width: 3px;
  }
  
  .count {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    align-items: center;
    background-color: rgb(224 224 224/var(--tw-bg-opacity));
    border-radius: 9999px;
    color: rgb(98 95 109/var(--tw-text-opacity));
    display: flex;
    font-size: .75rem;
    font-weight: 500;
    height: 1.25rem;
    justify-content: center;
    line-height: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: 1.25rem;
  }
  